<div class="container-fluid wff">
    <div class="tab-content col-sm-10">
        <!--<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example">-->
            <label class="txt col-sm-12" id="info">
                <input type="text" class="col-sm-10" placeholder="基本信息">
                <p class="col-sm-2"><button class="btn" ng-click="back()">返回</button></p>
            </label>
            <ul>
                <li>活动名称:春暖花开4月生日会</li>
                <li>活动时间:2017年11月12日</li>
                <li>地址:南风里小区3号号楼 4门 301</li>
            </ul>
            <label for="txt" class="txt col-sm-12 mar" id="name">
                <input type="text" id="txt" class="col-sm-12" placeholder="请输入栏目名称">
            </label>
            <input-file></input-file>
            <label class="txt col-sm-12 mar" id="resident">
                <input type="text" class="col-sm-12" placeholder="居民预约">
            </label>
            <div class="mars">
                <p class="col-sm-5">姓名 <br><input type="text" placeholder="文本框内容" class="col-sm-12 form-control"></p>
                <p class="col-sm-1"></p>
                <p class="col-sm-6">电话 <br><input type="text" placeholder="文本框内容" class="col-sm-12 form-control"></p>
            </div>
            <div class=" mars">
                <p>备注<br><input type="text" placeholder="文本框内容" class="col-sm-12 form-control"></p>
            </div>
        <p class="col-sm-2 btn-parent"><button class="btn">保存</button></p>
        <!--</div>-->
    </div>
    <div class="col-md-2">
        <nav id="navbar-example2" class="navbar nav-side">
            <div class="timeline-wrap clearfix">
                <span class="circle top"></span>
                <!--<span class="circle bottom"></span>-->
                <ul class="nav navbar-nav time-line bla">
                    <li class=""><a href="#info">基本信息</a></li>
                    <li class="active"><a href="#name">请输入栏目名称</a></li>
                    <li class="dropdown"><a href="#resident">居民预约</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>