<div class="wff container-fluid">
    <div class="tab-content">
        <label for="txt" class="txt col-sm-10 mar" >
            <input type="text" id="txt" class="col-sm-12" placeholder="活动列表">
        </label>

    <div class="col-sm-11 imgs">
        <div class="col-sm-3 img-box">
            <div ng-click="go()">
                <div class="sanj redj"></div>
                <span class="square">未结束</span>
            </div>
            <p class="col-sm-12"></p>
            <h4>春暖花开社区生日会</h4>
            <h5>2017年3月27日 三鑫社区11号楼2门301</h5>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 img-box">
            <div ng-click="go()">
                <span class="square">已开始</span>
                <div class="sanj grayj"></div>
            </div>
            <p class="col-sm-12"></p>
            <h4>春暖花开社区生日会</h4>
            <h5>2017年3月27日 三鑫社区11号楼2门301</h5>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 img-box">
            <div ng-click="go()">
                <span class="square">已总结</span><div class="sanj bluej"></div>
            </div>
            <p class="col-sm-12"></p>
            <h4>春暖花开社区生日会</h4>
            <h5>2017年3月27日 三鑫社区11号楼2门301</h5>
        </div>
    </div>
    </div>
</div>